#cloud-config
hostname: ctest1
fqdn: ctest1.example.com
manage_etc_hosts: true
users:
  - name: centos
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: adm,sys
    home: /home/centos
    shell: /bin/bash
    lock_passwd: false
    ssh-authorized-keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDWX2wSIewIBtpnCqiv2BDBSq23nyKCbiRg5e03gFUGwAqBivozDpj45q03ArwrUourF0LBkqRCAjSk3cJSZ+NiZxW32NsHF91JXREpqc8BTWXupivy3xcCJwXZud+ft7rEiJQRi8j9NUXu9F+OxJVsvZCSCcOwaOpaXo/JuxWek987E3y4/BcfiljvEEne4kq9Jt1SFBQFfzkK1LdwvuBgFWWQ8+2AlRrCUetWF3bIo95xJtMYVlE5T9dBXgcdtIuFntadz3l0OCSKp4qBKqkJBSgDTzgSSvKBrF0NRGvJuRxXSKsBY/Ap7Ul+6g9zyAeJqPRoq+LEW9T/0WE4ZANS4sc1V7zXyJguVH+eFk4a32Uf4c5rgny6yV/AAZnVwl9oUYlFDqFz058PX+yfpFJVGZWJmXKwRN0Dj+f16WpMlKkmenev/KfFWQ8gTOxghFXl5ElvxSBYdn9wNd/MZ1l54CS8DaIEFE6UK+6DimEratiVnHWzWDU1e2MxG8eoDYNrn9FGwO943xnmn1i13KxggVkkbiPDkVW9/weuLOwOR0C+AtXfx5bg0anzMDRT2xCLFJZhWGse9OUb+Gzn8sNVq2nUJ9lOc625F8HMAqwtm9SPxt2SJepnZ75C+bS5sD5/rSjpC6Rjg249ASE1giJ7abJp3eyH1UIKGtDAesUjXw== ctest1
# only cert auth via ssh (console access can still login)
ssh_pwauth: false
disable_root: false
chpasswd:
  list: |
     root:linux
     centos:newpass123
  expire: False

package_update: true
packages:
  - qemu-guest-agent
  - bind-utils
  - vim-enhanced

# manually set BOOTPROTO for static IP
# older cloud-config binary has bug?
runcmd:
    - [ sh, -c, 'sed -i s/BOOTPROTO=dhcp/BOOTPROTO=static/ /etc/sysconfig/network-scripts/ifcfg-eth0' ]
    - [ sh, -c, 'ifdown eth0 && sleep 1 && ifup eth0 && sleep 1 && ip a' ]
# written to /var/log/cloud-init.log, /var/log/messages
final_message: "The system is finally up, after $UPTIME seconds"

